.mainContainer {
  padding: 10px;
  background-color: #f5f5f5;
}

.testimonial {
  padding: 10px;
  border: 1px solid black;
  background-color: #ffffff;
  margin-top: 10px;
}

.author {
  text-align: right;
  font-style: italic;
}
