/*  your css code here. If applicable */
.mainContainer {
	padding : 10px ;
	background-color : #f5f5f5 ;
}

.testimonial {
	padding : 5px ;
	border : 0.5px solid black ;
	background-color : #FAF9F6 ;
}

.author {
	text-align : right ;
	font-style : italic ;
}

